body{
    background-color: #5d652f;
    color: #030300;
    font-family: 'Times New Roman', Times, serif;
}

h1
{
    color: #949852;
    text-align:center;

}

h3{
    color: #dfdb77;
    text-align: center;
}

li{
    color: #949852;
}

img{
    width: 250px;
    height: 150px ;
}

footer{
    background-color: yellowgreen;
}